/* ---------- ESTILOS GLOBALES (para SiteOtaku) ---------- */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
background-image: url('../Img/fondo3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}

/* Estilo para videos embebidos */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  border-radius: 4px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}


/* ---------- ESTILOS SOLO PARA LOGIN ---------- */
.login-body {
background-image: url('../Img/fondologin.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  min-height: 100vh;
}


.login-card {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 10px;
}

.login-form-control {
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid #444;
}

.login-form-control::placeholder {
  color: #aaa;
}

.login-btn {
  background-color: #0acdf4;
  border-color: #02c4ff;
}

.login-btn:hover {
  background-color: #c7052c;
  border-color: #1df1ca;
}

.otaku-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #ff3860;
  text-shadow: 1px 1px 4px #000;
}

a {
  color: #0cdfc6;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}
